# Ignore virtual environments
venv/

# VSCode/Visual Studio files
.vscode/
.vs/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Env and system files
.DS_Store
.env
/backend/core_connection.enc
/backend/core_connection.enc
